<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp | Campgrounds</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <%- include("../partials/navbar") %>
    <%- include("../partials/alerts") %>
    <div class="container">
        <header class="jumbotron text-center">
            <h1>Our Campgrounds</h1>
            <p>View the campgrounds added by the community from all over the world.</p>
            <p>
                <a href="/campgrounds/new" class="btn btn-lg btn-primary">Add a Campground</a>
            </p>
        </header>
        <div id="campground-row" class="row">
            <% campgrounds.forEach(function(campground) { %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail text-center">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
            <% }); %>
        </div>

    </div>
</body>

</html>